body {
    margin: 0;
    padding-top: 800px;
    font-family: 'ZCOOL KuaiLe', cursive;
    text-align: center;
}
html{
    scroll-behavior: smooth;
}
.profile {
    width: 150px;
    margin-bottom: 55px;
    border-radius: 55%;
}

#Welcome {
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: #FFFFFF;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background:#52360f ;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-image= URL('https://64.media.tumblr.com/d92ddc9b272bc31837f0d8c5b953be07/tumblr_pqnwuzco9l1w7jnxz_540.jpg');

}

.w1 {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;

}

h1 {
    font-size: 40px;
    line-height: 1.2;
        font-weight: 300;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    
}

#name {
    font-size: 30px;
    line-height: 1.2;
    
}

#bio {
    padding: 50px;
    text-align: center;
    font-size: 42px;
}

p {
    font-size: 18px;
}

.menu {
    list-style: none;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;

}

.links {
    float: left;
    color: #fff;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px
}

.links:hover {
    background-color: #FFFFFF;
}
a{
    text-decoration: none
}
.article:hover { color:#52360f; }
#myapps{
    width:100%;
    height:800px;
    background-color: #52360f;
}
#games{
    width:100%;
    height:800px;
    background-color: #764f19;
}
img{
   width: 200px;
    transition: transform .2s;
}
img:hover{
    transform: scale(0.9);
}
#chatbot{
    width:100%;
    height:800px;
    background-color: #95703d;
}